<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--        namespace绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.flywinter.dao.UserMapper">

    <select id="getUserLike" resultType="com.flywinter.entity.User">
        select *
        from mybatis.user where name like #{value};
    </select>

<!--  select查询语句-->
    <select id="getUserList" resultType="com.flywinter.entity.User" >
        select * from mybatis.user
    </select>
    <select id="getUserById" resultType="com.flywinter.entity.User" parameterType="int">
        select * from mybatis.user where id = #{id}
    </select>

    <select id="getUserByIdName" resultType="com.flywinter.entity.User" parameterType="map">
        select *
        from mybatis.user where id = #{userId} and name = #{userName}
    </select>

<!--    对象中的属性可以直接取出来-->
    <insert id="addUser" parameterType="com.flywinter.entity.User">
        insert into mybatis.user (id,name,password) values (#{id},#{name},#{password})
    </insert>

<!--    传递map的key-->
    <insert id="addUser2" parameterType="map">
        insert into mybatis.user (id,name,password) values (#{userId},#{userName},#{password})
    </insert>


    <update id="updateUser" parameterType="com.flywinter.entity.User">
        update mybatis.user
        set name = #{name },password = #{password}
        where id = #{id};
    </update>
    <delete id="deleteUser" parameterType="int">
        delete
        from mybatis.user
        where id = #{id};
    </delete>
</mapper>