<component name="ArtifactManager">
  <artifact type="war" name="springmvc-02-hellomvc:war">
    <output-path>$PROJECT_DIR$/springmvc-02-hellomvc/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc-02-hellomvc</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc-02-hellomvc-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc-02-hellomvc:war exploded" />
    </root>
  </artifact>
</component>